* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
}

body { width: 100vw; }

ul.tabs {
    display: flex;
    width: calc(100vw - 6em);
    text-align: left;
    margin: 0 3em;
    list-style-type: none;
}
ul.tabs > li { height: 3em; }
ul.tabs div.tab-content {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 3em; left: 3em;
    width: calc(100vw - 6em);
    background-color: #ddd;
    padding: 1em;
}

/* Move the actual tab-selection radio buttons out of the window entirely. */
input.tab-button {
    position: fixed;
    top: -100vh; left: -100vw;
}
input.tab-button ~ label {
    padding: 1ex;
    display: inline-block;
    height: 100%;
    line-height: calc(3em - 2ex);
    cursor: pointer;
}
input.tab-button:checked ~ label { background-color: #ddd; }
input.tab-button:checked ~ div.tab-content { display: block; }

table { border-collapse: collapse; }

table.user-table { margin: 1em 0; }
table.user-table th {
    text-align: center;
}
table.user-table th,
table.user-table td { padding: 0.5ex; }
table.user-table tr:nth-child(even) > td {
    background-color: #cdd;
}

button {
    padding: 0.5ex;
}

dialog.edit {
    position: fixed;
    top: 1em; right: 1em;
    background-color: #eee;
    border: 1ex solid #888;
    border-radius: 1ex;
    padding: 1em;
}
dialog > h1 {
    text-align: center;
    font-size: 100%;
    margin-bottom: 1em;
}

dialog > form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1ex 1ex;
}
dialog > form > *:nth-child(odd) { justify-self: end; }
dialog > form >*:nth-child(even) { justify-self: start; }

input:invalid { background-color: #fcc; }
input:valid { background-color: #cfc; }

dialog#are-you-sure {
    position: fixed;
    top: 50vh; left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #adf;
    border: 1ex solid #268;
    padding: 1em;
}