* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
}

body { width: 100vw; }
div.center { text-align: center; }

ul.tabs {
    display: flex;
    width: calc(100vw - 6em);
    text-align: left;
    margin: 0 3em;
    list-style-type: none;
}
ul.tabs > li { height: 3em; }
ul.tabs div.tab-content {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 3em; left: 3em;
    width: calc(100vw - 6em);
    background-color: #ddd;
    padding: 1em;
}
/* ul.tabs div.tab-content > div { margin-bottom: 1em; } */

hr {
    height: 1ex;
    background-color: #ccc;
    border: 1px solid #bbb;
    margin: 1em 0;
}

/* Move the actual tab-selection radio buttons out of the window entirely. */
input.tab-button {
    position: fixed;
    top: -100vh; left: -100vw;
}
input.tab-button ~ label {
    padding: 1ex;
    display: inline-block;
    height: 100%;
    line-height: calc(3em - 2ex);
    cursor: pointer;
}
input.tab-button:checked ~ label { background-color: #ddd; }
input.tab-button:checked ~ div.tab-content { display: block; }

table { border-collapse: collapse; }

table.user-table { margin: 1em 0; }
table.user-table th { text-align: center; }
table.user-table th,
table.user-table td { padding: 0.5ex 1ex;; }
table.user-table td { font-family: monospace; }
table.user-table tr:nth-child(even) > td {
    background-color: #cdd;
}
table.user-table button,
table.course-table button { margin-right: 1ex; }
table.user-table button:last-child,
table.course-table button:last-child { margin-right: 0; }

/* In course table, right-align course symbols. */
table#course-table tr > td:nth-child(1) { text-align: right; }
/* In course table, center align #chpt and actions buttons. */
table#course-table tr > td:nth-child(5),
table#course-table tr > td:nth-child(6) { text-align: center; }

table.user-table tr[data-chapters] { display: none; }
/* In chapters tables, center align weights and actions buttons. */
table.chapter-table tr > td:nth-child(4),
table.chapter-table tr > td:nth-child(5) { text-align: center; }

div.chapter-append {
    display: flex;
    justify-content: space-between;
}
div.chapter-append > form > * { margin-left: 1em; }
div.chapter-append input { width: 10ex; }

button {
    padding: 0.3ex;
    min-width: 2em;
    border: 1px solid #234;
    border-radius: 0.5ex;
}

dialog.edit {
    position: fixed;
    top: 1em;
    /*  If These next two property values seem like going around your ass to
        get to your elbow, it's because "right: 1em;" didn't work. */
    left: calc(100vw - 1em);
    transform: translate(-100%, 0);

    min-width: 50ex;
    background-color: #eee;
    border: 1ex solid #888;
    padding: 1em;
}
dialog > h1 {
    text-align: center;
    font-size: 100%;
    margin-bottom: 1em;
}

dialog > form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1ex 1ex;
}
dialog > form > *:nth-child(odd) { justify-self: end; }
dialog > form >*:nth-child(even) { justify-self: start; }
dialog > form label { white-space: pre; }

input { font-family: monospace; }
input:invalid { background-color: #fcc; }
input:valid { background-color: #cfc; }
input[type="email"] { min-width: 36ex; }

dialog#are-you-sure {
    position: fixed;
    top: 50vh; left: 50vw;
    transform: translate(-50%, -50%);
    background-color: #adf;
    border: 1ex solid #268;
    padding: 1em;
}
dialog#are-you-sure > form {
    display: flex;
    justify-content: space-evenly;
}
p#are-you-sure-message { margin-bottom: 1em; }