body {
    margin: 0; border: 0; padding: 0;
    background-color: #ccc;
    color: #246;
    font-family: serif;
    text-align: center;
}

form#login {
    display: grid;
    margin-left: auto; margin-right: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

form#login > * {
    align-self: center;
    margin: 0.5ex;
}
form#login > *:nth-child(odd) { justify-self: end; }
form#login > *:nth-child(even) { justify-self: start; }

div#login-error {
    display: block;
    margin: 1em auto;
    padding: 1em;
    width: 60ex;
    background-color: #fca;
    border: 1ex solid #820;
    border-radius: 1ex;
    text-align: justify;
}

div#footer {
    position: absolute;
    bottom: 1ex;
    left: 1em;
    width: calc(100vw - 2em);
    font-size: smaller;
}