<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CAMP | Admin View</title>
        <link rel="stylesheet" href="/static/admin.css">
        <link rel="stylesheet" href="/static/api_request.css">
        <link rel="icon" type="image/png" href="/static/camp_icon.png">
        <script>
const AUTH = {
    uname: "{{uname}}",
    key: "{{key}}"
};
        </script>
        <script src="/static/api_request.js" defer></script>
        <script src="/static/admin.js" defer></script>
    </head>
    <body>
        <ul class="tabs">

<li>
    <input type="radio" name="tabs" id="staff-tab-radio"
           class="tab-button" checked>
    <label for="staff-tab-radio" tabindex="0">Staff</label>

    <div id="staff-tab-content" class="tab-content">
        <h2>Admins</h2>
        <div id="staff-admins">
            <table id="admin-table" class="user-table">
                <thead><th>uname</th><th>email</th><th>actions</th></thead>
                <tbody></tbody>
            </table>

            <div>
                <button id="add-admin"><label>add Admin</label></button>
            </div>
        </div>
        <h2>Bosses</h2>
        <div id="staff-bosses">
            <p>populating list of Bosses...</p>
        </div><h2>Teachers</h2>
        <div id="staff-teachers">
            <p>populating list of Teachers...</p>
        </div>

        <div id="debug">
            <button id="push-me"><label>poosh mii</label></button>
        </div>

    </div>
</li>

<li>
    <input type="radio" name="tabs" id="student-tab-radio"
           class="tab-button">
    <label for="student-tab-radio" tabindex="1">Students</label>

    <div id="student-tab-content" class="tab-content">
        <h2>Students</h2>
        <div id="students">
            <p>populating students...</p>
        </div>
    </div>
</li>

<li>
    <input type="radio" name="tabs" id="course-tab-radio"
           class="tab-button">
    <label for="course-tab-radio" tabindex="2">Courses</label>

    <div id="course-tab-content" class="tab-content">
        <h2>Courses</h2>
        <div id="courses">
            <p>populating courses...</p>
        </div>
    </div>
</li>

        </ul>

        <div id="progress">
            <img src="/static/blue_waiting.gif">
            <ul></ul>
        </div>

        <div id="error">
            <img src="/static/error.svg">
            <ul></ul>
            <button id="dismiss-errors">
                <label><img src="/static/dismiss.svg"></label>
            </button>
        </div>

        <datalist id="admin-action-list">
            <option value="email">change email</option>
            <option value="delete">delete user</option>
        </datalist>

        <dialog id="alter-admin" class="edit">
            <h1>Admin Details</h1>
            <form name="alter-admin" method="dialog">
                <label for="alter-admin-uname">uname</label>
                <input name="uname" id="alter-admin-uname"
                       required pattern="^[a-zA-Z0-9]+$">
                <label for="alter-admin-email">email</label>
                <input type="email" name="email" id="alter-admin-email"
                       required>
                <button id="alter-admin-cancel">
                    <label>cancel</label>
                </button>
                <button id="alter-admin-confirm">
                    <label>confirm</label>
                </button>
            </form>
            <hr>
            <button id="delete-admin">
                <label>delete this admin</label>
            </button>
        </dialog>

        <dialog id="are-you-sure">
            <h1>&iquest;Are you sure?</h1>
            <p id="are-you-sure-message"></p>
            <form name="confirmation" method="dialog">
                <button id="confirmation-cancel" value="cancel">
                    <label>No, I am not.</label>
                </button>
                <button id="confirmation-confirm" value="ok">
                    <label>Yes, I sure am.</label>
                </button>
            </form>
        </dialog>

    </body>
</html>