<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CAMP | {{name}} Teacher View</title>
        <link rel="stylesheet" href="/static/teacher.css">
        <link rel="stylesheet" href="/static/dialog.css">
        <link rel="stylesheet" href="/static/util.css">
        <link rel="icon" type="image/png" href="/static/camp_icon.png">
        <script>
const AUTH = {
    uname: "{{uname}}",
    key: "{{key}}"
};
        </script>
        <script src="/static/teacher.js" defer></script>
    </head>
    <body>
        <div id="content-container">
            <h1>Teacher <kbd>{{uname}}</kbd> ({{name}})</h1>
            <div id="cals"></div>
        </div>

        <div id="course-info"></div>

        <div id="progress">
            <img src="/static/blue_waiting.gif">
            <ul></ul>
        </div>

        <div id="error">
            <img src="/static/error.svg">
            <ul></ul>
            <button>
                <label><img src="/static/dismiss.svg"></label>
            </button>
        </div>

        <dialog id="complete-goal" class="edit">
            <h1>Goal Details</h1>
            <p id="complete-goal-meta"></p>
            <form name="complete-goal" method="dialog">
                <label for="complete-goal-done">done</label>
                <input type="date" name="done" id="complete-goal-done">
                <label for="complete-goal-tries">tries</label>
                <input type="number" name="tries" id="complete-goal-tries">
                <label for="complete-goal-score">score</label>
                <input name="score" id="complete-goal-score">
                <button id="complete-goal-cancel">
                    <label class="cancel">cancel</label>
                </button>
                <button id="complete-goal-confirm">
                    <label class="confirm">confirm</label>
                </button>

                <input type="hidden" name="id">
            </form>
        </dialog>

        <dialog id="edit-goal" class="edit">
            <h1>Goal Details</h1>
            <p id="edit-goal-meta"></p>
            <form name="edit-goal" method="dialog">
                <label for="edit-goal-course">course</label>
                <!-- Need <OPTIONS> for this to be dynamically set. -->
                <input name="course" id="edit-goal-course" required>
                <label for="edit-goal-seq">chapter</label>
                <!-- SET max/min dynamically based on coruse. -->
                <input type="number" name="seq" id="edit-goal-seq" required>
                <label for="edit-goal-due">due</label>
                <input type="date" name="due" id="edit-goal-due">
                <button id="edit-goal-cancel">
                    <label class="cancel">cancel</label>
                </button>
                <button id="edit-goal-confirm">
                    <label class="confirm">confirm</label>
                </button>

                <input type="hidden" name="id">
            </form>
            <hr>
            <div class="center">
                <button id="delete-goal">
                    <label>delete this Goal</label>
                </button>
            </div>
        </dialog>

        <dialog id="are-you-sure">
            <h1>&iquest;Are you sure?</h1>
            <p id="are-you-sure-message"></p>
            <form name="confirmation" method="dialog">
                <button id="confirmation-cancel" value="cancel">
                    <label class="cancel">No, I am not.</label>
                </button>
                <button id="confirmation-confirm" value="ok">
                    <label class="confirm">Yes, I sure am.</label>
                </button>
            </form>
        </dialog>

        <div id="old-browser">
            <div>
                <h2>Update your Browser</h2>

                <p>Because I am lazy, this web interface relies on a
                <em>relatively</em> modern browser feature, which your
                browser evidently doesn't support. A version at least as
                recent as one of the following should do the trick:</p>

                <ul>
                    <li>Chrome version 37 (August 2014)</li>
                    <li>Firefox version 98 (March 2022)</li>
                    <li>Safari version 15.4 (March 2022)</li>
                    <li>MS Edge 79 (January 2020)</li>
                    <li>Opera 24 (September 2014)</li>
                </ul>
            </div>
        </div>

        <script src="/static/util.js"></script>
    </body>
</html>